h1{
  font-size: var(--h1-font-size);
  color: var(--Very-dark-desaturated-blue);
  
}
p{
  font-size: var(--font-size);
  color: var(--Dark-grayish-blue);
}
.photo{
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}